.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal {
    width: 90%;
    max-width: 400px;
    background: #fff;
    border-radius: 16px;
    padding: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.modal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.modal-info {
    margin-top: 10px;
    text-align: left;
}

.modal-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-info p {
    margin: 4px 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.modal-action-btn {
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    flex: 1;
    margin: 0 4px;
    transition: all 0.3s ease-in-out;
}

.add-to-order {
    background-color: #007bff;
    color: #fff;
    padding: 4px 20px;
}

.add-to-order:hover {
    background-color: #0056b3;
}

.add-to-favorites {
    background-color: #ff4d4d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 1px;
}

.add-to-favorites:hover {
    background-color: #e60000;
}

.close-btn {
    background-color: #757575;
    color: #fff;
    padding: 4px 1px;
}

.close-btn:hover {
    background-color: #4a4a4a;
}
